@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text1: hsl(0, 0%, 10%);
		--text2: hsl(0, 0%, 25%);
		--text3: hsl(0, 0%, 40%);
		--text4: hsl(0, 0%, 60%);

		--linkText: hsl(229, 83%, 60%);

		--bg1: hsl(0, 0%, 100%);
		--bg2: hsl(0, 0%, 93%);
		--bg3: hsl(0, 0%, 85%);
		--bg4: hsl(0, 0%, 75%);
		--bg5: hsl(0, 0%, 65%);

		--accent1: hsl(209, 64%, 59%);
		--accent2: hsl(345, 95%, 71%);
		--accent3: hsl(134, 75%, 72%);

		--muted: hsl(60, 4%, 95%);

		--success: hsl(134, 75%, 60%);
		--warning: hsl(40, 100%, 60%);
		--error: hsl(0, 84%, 70%);

		--popover: hsl(0, 0%, 93%);

		--primaryText: hsl(0, 0%, 20%);
		--secondaryText: hsl(0, 0%, 40%);
		--mutedText: hsl(0, 0%, 70%);
		--linkText: hsl(0, 0%, 20%);

		--background: hsl(0, 0%, 100%);
		--foreground: hsl(20, 14%, 4%);

		--primary: hsl(0, 0%, 100%);
		--text1: hsl(0, 0%, 20%);

		--secondary: hsl(0, 0%, 98%);
		--secondary-foreground: hsl(0, 0%, 20%);

		--white: hsl(360, 100%, 100%);

		--card: hsl(0, 0%, 100%);
		--card-foreground: hsl(20, 14%, 4%);

		--popover: hsl(0, 0%, 96%);
		--popover-foreground: hsl(31, 100%, 5%);

		--muted: hsl(60, 5%, 96%);
		--muted-foreground: hsl(25, 5%, 45%);

		--accent: hsl(209, 64%, 60%);
		--accent-foreground: hsl(0, 0%, 99%);

		--accent2: hsl(345, 95%, 71%);
		--accent2-foreground: hsl(0, 0%, 98%);

		--destructive: hsl(0, 84%, 60%);
		--destructive-foreground: hsl(60, 9%, 98%);

		--border: hsl(20, 6%, 90%);
		--input: hsl(20, 6%, 90%);
		--ring: hsl(20, 14%, 4%);
		--radius: 0.5rem;
	}

	.dark {
		--text1: hsl(0, 0%, 100%);
		--text2: hsl(0, 0%, 90%);
		--text3: hsl(0, 0%, 70%);
		--text4: hsl(0, 0%, 50%);

		--linkText: hsl(229, 83%, 70%);

		--bg1: hsl(190, 33%, 4%);
		--bg2: hsl(198, 17%, 15%);
		--bg3: hsl(194, 19%, 17%);
		--bg4: hsl(199, 30%, 21%);
		--bg5: hsl(200, 30%, 24%);

		--accent3: hsl(134, 75%, 80%);

		--muted: hsl(0, 0%, 50%);

		--success: hsl(134, 75%, 70%);
		--warning: hsl(40, 100%, 70%);
		--error: hsl(0, 84%, 75%);

		--popover: hsl(31, 100%, 90%);

		--primaryText: hsl(0, 0%, 100%);
		--secondaryText: hsl(0, 0%, 80%);
		--mutedText: hsl(0, 0%, 60%);
		--linkText: hsl(0, 0%, 100%);

		--background: hsl(20 14% 4%);
		--foreground: hsl(60 9% 97%);

		--card: hsl(20 14% 4%);
		--card-foreground: hsl(60 9% 97%);

		--popover: hsl(0, 0%, 12%);
		--popover-foreground: hsl(0, 0%, 88%);

		--primary: hsl(0, 0%, 4%);
		--primary-foreground: hsl(0, 0%, 90%);

		--secondary: hsl(0, 0%, 8%);
		--secondary-foreground: hsl(0, 0%, 90%);

		--muted: hsl(0, 0%, 20%);
		--muted-foreground: hsl(0, 0%, 74%);

		--accent: hsl(209, 64%, 50%);
		--accent-foreground: hsl(60 9% 97%);

		--accent2: hsl(345, 95%, 80%);
		--accent2-foreground: hsl(0, 0%, 8%);

		--destructive: hsl(0 62% 30%);
		--destructive-foreground: hsl(60 9% 97%);

		--border: hsl(12 6% 15%);
		--input: hsl(12 6% 15%);
		--ring: hsl(24 5% 82%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.ribbon-wrapper-green {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	left: -3px;
}

.ribbon-text {
	max-width: 80px;
	color: #383838;
}

.ribbon-green {
	font: bold 13px Sans-Serif;

	text-align: center;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	position: relative;
	padding: 3px 0;
	left: -25px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	top: 25px;
	width: 120px;
	background-color: #8dc735;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#8dc735),
		to(#649a12)
	);
	background-image: -webkit-linear-gradient(top, #8dc735, #649a12);
	background-image: -moz-linear-gradient(top, #bfdc7a, #8ebf45);
	background-image: -ms-linear-gradient(top, #bfdc7a, #8ebf45);
	background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45);
	color: #fff;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.ribbon-green:after,
.ribbon-green:after {
	content: "";
	border-top: 3px solid #6e8900;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	bottom: -3px;
}
.ribbon-green:before {
	right: 0;
}

.ribbon-green:after {
	left: 0;
}

svg.lucide {
	width: 1.4em;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-slate-200;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-slate-300;
}
